/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 100px 0 50px;
}

section {
  padding: 150px 0;
}

#snoAlertBox{
    position:absolute;
    z-index:1400;
   	top:20%;
    right:4%;
    margin:0px auto;
	text-align:center;
    display:none;
}